<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container">
    <a class="navbar-brand color" routerLink='/Products'>Store App</a>
    <div class="ml-auto" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink='/Products-List'>Products </a>
        </li>
        <li class="nav-item">
          <a class="nav-link"  routerLink='/Add-Products'>Add product </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<div class="container">
  <router-outlet></router-outlet>
</div>